* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f4f4;
}


header {
  height: 100vh;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  color: white;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

.logo {
  font-size: 30px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: 0.3s;
}

nav ul li a:hover {
  color: yellow;
}

.hero {
  text-align: center;
  margin-top: 150px;
  padding: 20px;
}

.hero h1 {
  font-size: 55px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 20px;
  margin-bottom: 30px;
}

.hero button {
  padding: 12px 30px;
  border: none;
  background: white;
  color: #333;
  font-size: 18px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.hero button:hover {
  background: yellow;
}

.features {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 60px 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  width: 300px;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.card h2 {
  margin-bottom: 15px;
  color: #333;
}

.about {
  text-align: center;
  padding: 60px 20px;
  background: white;
}

.about h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.about p {
  max-width: 700px;
  margin: auto;
  font-size: 18px;
  line-height: 1.6;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 20px;
}